Absolute and relative URIs resolving

Hi, 

I'd like to ask for a an improvement to `fluent_uri::Uri` implemenation (as of version `0.2.0-alpha.3` published on [crates.io](https://crates.io/crates/fluent-uri)).

There's two methods `is_absolute_uri` and `is_relative_uri`. How can I build a new URI based on an absolute and a relative URIs?

for example, I have an absolute URI `foo://example.com/path/to/resource` and a relative URI `other_resource` producing a result `foo://example.com/path/to/other_resource` or with other relative URI `../../another/path` producing `foo://example.com/another/path`?


Yes, I'd add more restrictions to it: `foo://example.com/` + `..` is also unacceptable and if it simplify implementation — no query parameters.

You cannot change the authority of a URI by resolving a relative reference against it: `foo://example.com/` + `..` in fact resolves to `foo://example.com/` according to RFC 3986. What do you mean by no query parameters?

query part is between `?` and `#`. for me having a query part in absolute or relative URI may lead to unknown result if these URI are combined.

I don't see exactly where RFC defines how `..` is handled. 

Is it possible to know about such underflow? In my case base URI will likely has `file` scheme, and I'd like to detect the possible underflow and emit at least a warning as usage of such input data may potentially lead to security vulnerabilities (not in my software, but in general). 

I don't exactly know what you mean by the query part leading to unknown result. `fluent-uri` handles *generic* URIs and will apply the exact algorithm defined in [Section 5.2.2 of RFC 3986](https://datatracker.ietf.org/doc/html/rfc3986/#section-5.2.2) to determine the result of resolution. For the `file` scheme (defined in [RFC 8089](https://datatracker.ietf.org/doc/html/rfc8089)), a query component is not allowed, so you should probably check if a query is present prior to resolution and fail as appropriate.

The part where `..` is handled is in [Section 5.2.4](https://datatracker.ietf.org/doc/html/rfc3986/#section-5.2.4).

[Section 5.4.2](https://datatracker.ietf.org/doc/html/rfc3986/#section-5.4.2) lists some abnormal examples, such as:

```
"../../../g"    =  "http://a/g"
"../../../../g" =  "http://a/g"
```

It also explicitly says that:

> Note that the ".." syntax cannot be used to change the authority component of a URI.

IIUC, this underflowing behavior does not lead to more security vulnerabilities. In fact, it leads to *fewer* attack surfaces. For example, an HTTP client may take the URI `http://example.com/../../../etc/passwd` and, if it doesn't adopt the underflowing behavior, send a request to `example.com` with the request line `GET /../../../etc/passwd HTTP/1.1` and cause the server to incorrectly expose the contents of `/etc/password`. With the underflowing behavior the client would only send `GET /etc/passwd HTTP/1.1` and wouldn't cause incorrect behavior on the server side.

It is nevertheless possible that one may use `Uri::parse` or `EStr::<Path>::try_new` to parse a path, whether within a URI or not, and after percent-decoding it use it to access a local path, for example by stripping the preceding `/` and appending the result to a known base path (see also [`PathBuf::push`](https://doc.rust-lang.org/std/path/struct.PathBuf.html#method.push)). This is a general vulnerability even without the use of `fluent-uri`. We may in the future provide some utility method on `EStr::<Path>` for turning it safely into a `std::path::Path`.

Thank you for pointing me out on this algorithm.

However I don't see this special case handled as it's a potential security issue which could be used in many attacks to go out of bounds. Nobody should assume all clients and servers adopt this security underflow handling. 

Yes, curl and browsers handles this situation, but you can't ask for all http clients and servers to do that and many of them did not do that. Some of servers implemented the security measure as a 404 error page, others as silent redirect `http://example.com/etc/passwd`. 

Another example is a JSON schema, let's take a json schema, generator adopts the handling and limit the top folder as `/` to prevent the issue. Correct models has been generated and now we verify an object against the schema. While loading the schema common way is to load all files referred in a reference without checking any bounds. And here you have a possibility to inject some file outside the schema folder if a programmer doesn't handle that situation properly. And there's at least 1 checker per language, so it's hard to assume that all usages for all of them will be handled properly.

Thus, I'd like to emit at least a warning on that situation, so a developer could handle such situations early on. In other words, it could be a `pedantic` flag inside actual algorithm (as algorithm doesn't change) and 2 different methods for developers: one to ignore the problem with absolute path `/` and relative `..` would result to '/' and other to return an error in this case. 

```python
>>> import requests
>>> r = requests.Request('https://example.com/../../../../')
>>> r
<Request [https://example.com/../../../../]>
```

Hi, I have just implemented reference resolution and published a new version `0.2.0-alpha.4`. I added a `Uri::resolve` method which returns an error instead of panicking when precoditions are not satisfied. We might later add a `Uri::checked_resolve` method which additionally returns an error when an underflow occurs in path resolution.

Thank you!

I've created #12 for checked resolve implementation. 


I'm closing this issue as the original question is answered.